header {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 7%;
}

.cabecalho-lista-item{
    display: inline-block;
}
body{
    background-color: darkblue;
}